---
name: Generate Media
on:
  workflow_dispatch:
    inputs:
      mainline_product:
        description: 'Mainline product branch'
        required: true
        default: 'wow'
        type: choice
        options:
          - wow
          - wowt
          - wowxptr
          - wow_beta

      classic_product:
        description: 'Classic product branch'
        required: true
        default: 'wow_classic'
        type: choice
        options:
          - wow_classic
          - wow_classic_ptr
          - wow_classic_beta

      classic_vanilla_product:
        description: 'Vanilla product branch'
        required: true
        default: 'wow_classic_era'
        type: choice
        options:
          - wow_classic_era
          - wow_classic_era_ptr

      classic_tbc_product:
        description: 'TBC product branch'
        required: true
        default: 'wow_classic_era_ptr'
        type: choice
        options:
          - wow_classic_era_ptr
          - wow_classic_tbc
          - wow_classic_tbc_ptr

      classic_wrath_product:
        description: 'Wrath product branch'
        required: true
        default: 'wow_classic_titan'
        type: choice
        options:
          - wow_classic_titan
          - wow_classic_titan_ptr
          - wow_classic_wrath
          - wow_classic_wrath_ptr

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qqy ffmpeg libreadline-dev libsqlite3-dev
          sudo python3 -m pip install git+https://github.com/luarocks/hererocks
          sudo hererocks -l 5.1 -r latest /usr/local
          sudo luarocks make

      - name: Cache database
        uses: actions/cache@v3
        with:
          key: database
          path: |
            .cache/build.*
            .cache/cdn.*
            .cache/encoding.*
            .cache/index.*
            .cache/pconf.*
            .cache/root.*

      - name: Generate Media
        run: make ${MAINLINE_PRODUCT} ${CLASSIC_PRODUCT} ${CLASSIC_PRODUCT} ${CLASSIC_VANILLA_PRODUCT} ${CLASSIC_TBC_PRODUCT} ${CLASSIC_WRATH_PRODUCT}
        env:
          MAINLINE_PRODUCT: ${{ inputs.mainline_product }}
          CLASSIC_PRODUCT: ${{ inputs.classic_product }}
          CLASSIC_VANILLA_PRODUCT: ${{ inputs.classic_vanilla_product }}
          CLASSIC_TBC_PRODUCT: ${{ inputs.classic_tbc_product }}
          CLASSIC_WRATH_PRODUCT: ${{ inputs.classic_wrath_product }}

      - name: Increment library version
        run: |
          if [[ -n "$(git status --porcelain=v1 2>/dev/null)" ]]; then
            perl -i -pe 's/(MINOR_VERSION = )(\d+)/$1.($2+1)/e' LibRPMedia-1.2.lua
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: actions/regenerate-databases
          commit-message: Regenerate Databases
          delete-branch: true
          title: Automated regeneration of media databases
          body: Automated regeneration of media databases.
          author: GitHub <noreply@github.com>
          reviewers: Meorawr
